@font-face {
    font-family: "Graphik_black";
    src: url("fonts/GraphikBlack.otf");
}
@font-face {
    font-family: "Graphik_reg" ;
    src: url("fonts/GraphikRegular.otf");
}


:root{
    --background: #032828;
    --lettering:rgb(170, 55, 252);
    --underline:rgb(255, 192, 203);
    --fluo:rgb(255, 150, 30);
    --link:rgb(129, 19, 162);
    --link-hover: rgb(149, 7, 7);
}

body{
    background-color:var(--background);
    font-family: "Graphik_reg";
    font-weight:bolder;
}

header{
    background-color: var(--fluo);
}

header svg{
    margin-bottom: -4px;
}

.flex_col{
    display:flex;
    flex-flow: column nowrap;
}

.flex_row{
    display: flex;
    flex-flow: row nowrap;
}

.centering{
    align-items: center;
    justify-content: center;
}

.header_container{
    width:100%;
    position: absolute;
    top:2%;
}

.path_text{
    font-family: "Graphik_black";
    font-size: 1.6em;
}

.nav_container{
    width:100%;
}

.nav_container > a{
    width:2%;
    text-decoration: none;
    padding: 0 5% 0 5%;
    color:var(--background);
    border-bottom: 0.5px solid var(--underline);
    transform: rotate(316deg);
}

.nav_container>a:nth-child(2){
    color: var(--link-hover);
    font-size: 1.5em;
    border-bottom: 0.5px solid rgb(255, 150, 30);
}

/*
:not(.nav_container a:nth-child(1):hover){
    border-bottom: none;
} */

.nav_container a:hover{
    color: var(--underline);
    border-bottom: 0.5px solid rgb(255, 150, 30);
}

.nav_container a:nth-child(2):hover{
    color: var(--link);
    border-bottom: 0.5px solid pink; 
}

 .nav_container>a:nth-child(3){
   color: var(--link);
   font-size: 2em;
   font-weight: 900;
   transform: rotate(316deg);
}

.first_row > a{
    margin: 0 2% 0 2%;
}

.second_row > a{
    margin: 2% 3% 0 3%;
}

.main_container{
    margin:5% 0 5% 0;
    align-items: center;
    justify-content: space-between;
}

.main_card{
    width:40%;
    height:240vh;
    max-height:700px;
    margin:5% 0 5% 0;
}
.main_card:nth-child(1){
    padding-bottom: 5%;
}
.main_card_img_container{
    object-fit: cover;
}

.main_card_img_container img{
    width:100%;
}

.main_card_legend{
    color: var(--fluo);
}